
<section class="blog-container">
    <h2 class="blog-title">{{title}}</h2>
    <h3>Posted by: {{user.username}}</h3>
    <h4>On: {{format_date createdAt}}</h4>
    <div class="blog-text">
        <p>{{text}}</p>
    </div>
</section>
