
<section class="blog-container">
    <div class="blog-title">
    <h2>{{title}}</h2>
    <h6>Posted by: {{user.username}} On: {{format_date createdAt}}</h6>
    </div>
    <div class="blog-text">
        <p>{{text}}</p>
    </div>
</section>
