{{#each blogs}}
<div class="blog-container">
    <div class="blog-title">
        <h5>{{title}}</h5>
        <h6>Posted by {{user.username}} on {{format_date createdAt}}</h6>
    </div>
    <div class="blog-text">
        <h5>{{text}}</h5>
    </div>
</div>
{{/each}}
