<div class="blog-container">
    <div class="blog-title">
        <h5>Sign Up</h5>
    </div>
    <form class="login-text">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-secondary">Sign Up!</button>
        <a href="/login">Login instead</a>
    </form>
</div>

<script src="./js/signup.js"></script>