:root {
    --brown: #231010;
    --green: #D9EAD3;
}

* {
    /* border: 1px solid red; */
}

header {
    background: var(--brown);
    min-height: 150px;
    max-height: 150px;
}

body {
    background: var(--green);
    min-width: 100vw;
}

.nav-link {
    color: var(--green);
}

.title {
    padding: 10px;
    background: var(--green);
    margin-left: 60px;
    color: var(--brown);
    max-width: 265px;
    border-radius: 10px;
    font-weight: bold;
    min-width: 110px;
}

.container-fluid {
    margin: 0 60px;
    padding: 0;
    min-height: 50px;
    max-width: 350px;
}

.nav-link {
    font-size: 25px;
    padding: 0 20px 0 0;
}

h1 {
    font-size: 37px;
}

.blog-container {
    border: 4px solid var(--brown);
    margin: 40px;
}

.blog-title {
    background-color: var(--brown);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}

.blog-text {
    padding: 15px 15px;
    margin: 0;
    align-items: center;
}

h3, h5, h6 {
    margin: 0;
}

@media screen and (max-width: 992px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0;
    }

    .nav-link {
        text-align: left;
        width: 25vw;
    }

    .nav-item {
        margin-right: 20px;
    }

    .title {
        margin-right: auto;
    }
}

@media screen and (max-width: 570px) {
    .navbar {
        margin-left: 15px;
    }

}